<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="card mt-5">
     
    <div class="card-body">
      
      <h3 class="card-title text-center">Image Upload Form</h3>
      <form action="/admin/save-image" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Select an image:</label>
          <input type="file" class="form-control-file" id="file" name="file" accept="image/jpeg, image/jpg, image/png" onchange="previewImage(this)">
        </div>
        <div class="form-group text-center">
          <img id="preview" src="#" alt="Preview" style="display: none; max-width: 200px;">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      
      </form>
       
    </div>
    
  </div>
 
  </div>
 <div class="container my-5">
  <h1 class="text-center" style="font-size:xx-large; text-decoration: underline;">Gallery</h1>
  <div class="card-columns">
    {{#each images}}
    <div class="card">
      <img class="card-img-top" src="{{imagePath}}" alt="img">
      <div class="card-body">
        <a href="/admin/imagedelete/{{_id}}" class="btn btn-danger">delete</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>


  <script>
    function previewImage(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById("preview").src = e.target.result;
          document.getElementById("preview").style.display = "block";
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  <style>
    img {
  width: 200px;
  height: 200px;
}

  </style>
