<div class="jumbotron text-center">
  <h1 class="display-4">السَّلَامُ عَلَيْكُمْ وَرَحْمَةُ ٱللَّهِ وَبَرَكاتُهُ</h1>
  <p class="lead">welcome to the admin panel!!</p>
  <hr class="my-4">
  <p>Ready to get started?</p>
  
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Home</h3>
      <p>welcome Page </p>
      <h3>Families</h3>
      <p>here you can see all the families that has been added to the app</p>
    </div>
    <div class="col-sm-4">
      <h3>Prayer Time</h3>
      <p>here you can edit and update the prayer time</p>
      <h3>Announcments</h3>
      <p>here you can add,update and delete the announcements you have to make for all users</p>
    </div>
    <div class="col-sm-4">
      <h3>Events</h3>
      <p>here you can add,update and delete the exciting events</p>
      <h3>Images</h3>
      <p>here you can add and delete beautiful images </p>
    </div>
  </div>
</div>


<style>
    h1{
        color:black;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
