<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Reset Password</h3>
          <form onsubmit="return checkPasswords()" action="/reset-password/{{resetToken}}" method="post">
         
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="password" placeholder="Enter new password" required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function checkPasswords() {
    var newPassword = document.getElementById("newPassword").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    if (newPassword != confirmPassword) {
      alert("Passwords do not match!");
      return false;
    }
    return true;
  }
</script>
